<h1>Estudios</h1>
<div class="timeline">
   
    <mat-progress-bar class="progress" mode="determinate" [value]="progress"></mat-progress-bar>
    <div class="years">
      <div style="left: 20%">2020</div>
      <div style="left: 50%">2021</div>
      <div style="left: 80%">2023</div>
      <div style="left: 95%">2025</div>
    </div>
    <div class="events">
      <div class="event" style="left: 50%">
        <div class="event-text">Licenciatura en Ciencias de La Computación</div>
      </div>
      <div class="event" style="left: 20%">
        <div class="event-text">Bachiller Ciencias y Letras</div>
      </div>
    </div>
  </div>
  