<div class="contact-info">
    <div class="info-column">
      <h1>Contáctame</h1>
      <div class="info-item">
        <img src="/assets/email.png" alt="Correo electrónico" style="width: 100px; height: 100px">
        <p>Asgt92530@gmail.com</p>
      </div>
      <div class="info-item">
        <img src="/assets/telefono.png" alt="Teléfono" style="width: 100px; height: 100px">
        <p>+502 0000 0000</p>
      </div>
    </div>
    <div class="info-column">
      <h1>&nbsp;</h1> <!-- Placeholder para alinear con 'Contactame' -->
      <div class="info-item">
        <img src="/assets/github.png" alt="Github" style="width: 250px; height: 250px">
        <p><a href="https://github.com/AGM54">Git</a></p>
      </div>
    </div>
  </div>
  