<div class="about-me">
  <h6 >Astrid Glauser</h6>
  <h1>Que hago</h1>

  <div class="image-container">
    <div class="image-section">
      <img src="../../assets/imagen1.png" alt="Descripción de la imagen" class="mi-imagen">
      <h3>Diseño Web</h3>
      <p>Diseño sitios web utilizando tecnologías como HTML5, CSS3, JavaScript y marcos de trabajo como Angular y React. Creo páginas web atractivas y fáciles de navegar, convirtiendo ideas en realidad digital</p>
    </div>

    <div class="image-section">
      <img src="../../assets/imagen2.png" alt="Descripción de la imagen" class="mi-imagen">
      <h3>Diseño de interfaces de usuario</h3>
      <p>Me encanta convertir las ideas en experiencias visuales atractivas. Con habilidades en diseño UX/UI, creo interfaces de usuario intuitivas que hacen que la navegación sea un placer. Mi objetivo es siempre el mismo: producir un diseño que sea agradable a la vista y fácil de usar.</p>
    </div>

    <div class="image-section">
      <img src="../../assets/imagen3.png" alt="Descripción de la imagen" class="mi-imagen">
      <h3>Programación Front-End</h3>
      <p>Aplico tecnologías como HTML, CSS y JavaScript para construir interfaces de usuario efectivas y eficientes. Empleo frameworks como Angular y React, y busco constantemente optimizar y mejorar el rendimiento y la usabilidad del sitio.</p>
    </div>
  </div>
  
  <b><h4> Lenguajes de programación</h4></b>
  
  <div class="image-container">
    <div class="image-section">
      <img src="../../assets/numero1.png" alt="Descripción de la imagen" class="mi-imagen2">
      <h5>Python</h5>
    </div>
    <div class="image-section">
      <img src="../../assets/numero2.png" alt="Descripción de la imagen" class="mi-imagen2">
      <h5>JavaScript</h5>
    </div>
    <div class="image-section">
      <img src="../../assets/numero5.png" alt="Descripción de la imagen" class="mi-imagen2">
      <h5>C++</h5>
    </div>
  </div>

  <b><h4> Tecnologías</h4></b>
  <div class="image-container">
    <div class="image-section">
      <img src="../../assets/svelte.png" alt="Descripción de la imagen" class="mi-imagen2">
      <h5>Svelte</h5>
    </div>
    <div class="image-section">
      <img src="../../assets/angular3.png" alt="Descripción de la imagen" class="mi-imagen2">
      <h5>Angular</h5>
    </div>
    <div class="image-section">
      <img src="../../assets/numero9.png" alt="Descripción de la imagen" class="mi-imagen2">
      <h5>React</h5>
    </div>
  </div>
</div>
