<h4>Proyectos</h4>
<div class="imagenes">
<div class="row">
    <div class="column">
      <a href="http://44.209.83.37:3162/" target="_blank">
        <div class="preview-box">
          <div class="preview-image">
            <img src="/assets/gato.png" alt="Vista previa de la página" style="width: 100%; height: 100%;">
          </div>
          <div class="preview-overlay">
            <span class="preview-link">Proyecto CSS</span>
          </div>
        </div>
      </a>
      <a href="https://web-server-astrid.web.app/memoria/" target="_blank">
        <div class="preview-box">
          <div class="preview-image">
            <img src="/assets/memoria.png" alt="Vista previa de la página" style="width: 100%; height: 100%;">
          </div>
          <div class="preview-overlay">
            <span class="preview-link">Proyecto memoria React</span>
          </div>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="https://web-server-astrid.web.app/memoria/" target="_blank">
        <div class="preview-box">
          <div class="preview-image">
            <img src="/assets/perro.png" alt="Vista previa de la página" style="width: 100%; height: 100%;">
          </div>
          <div class="preview-overlay">
            <span class="preview-link">Replica de Página</span>
          </div>
        </div>
      </a>
      <a href="https://clinic-proyect.herokuapp.com/" target="_blank">
        <div class="preview-box">
          <div class="preview-image">
            <img src="/assets/medico.png" alt="Vista previa de la página" style="width: 100%; height: 100%;">
          </div>
          <div class="preview-overlay">
            <span class="preview-link">Proyecto Medicina</span>
          </div>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="https://web-server-astrid.web.app/calculadora/" target="_blank">
        <div class="preview-box">
          <div class="preview-image">
            <img src="/assets/calculadora.png" alt="Vista previa de la página" style="width: 100%; height: 100%;">
          </div>
          <div class="preview-overlay">
            <span class="preview-link">Calculadora usando React</span>
          </div>
        </div>
      </a>
      <a href="https://web-server-astrid.web.app/calculadora/" target="_blank">
        <div class="preview-box">
          <div class="preview-image">
            <img src="/assets/inicio.png" alt="Vista previa de la página" style="width: 100%; height: 100%;">
          </div>
          <div class="preview-overlay">
            <span class="preview-link">Calculadora usando React</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>